<div class="layout mat-elevation-z8">
  <mat-toolbar color="primary">
    <span routerLink="/">Glass Rapido</span>
    <span class="layout__spacer"></span>
    <span *ngIf="currentUser">{{ currentUser.email }}</span>
    <button *ngIf="!hasSignedIn" routerLink="/login" routerLinkActive="active" mat-raised-button color="primary">Se connecter</button>
    <button *ngIf="!hasSignedIn" routerLink="/register" routerLinkActive="active" mat-raised-button color="primary">Créer un compte</button>
    <button *ngIf="hasSignedIn" (click)="signOut()" mat-raised-button color="primary">Se déconnecter</button>
  </mat-toolbar>
  <div class="layout__container">
    <router-outlet></router-outlet>
  </div>
</div>
