<div class="edit-intervention">
  <form *ngIf="interventionForm" [formGroup]="interventionForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Numéro de la plaque d'immatriculation" formControlName="plate_number">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Modèle de la voiture" formControlName="car_model">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Numéro d'assurance" formControlName="insurance_number">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Information complémentaire" formControlName="description">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Adresse de l'intervention" formControlName="address">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Ville de l'intervention" formControlName="city">
    </mat-form-field>
    <mat-form-field class="create-intervention__input">
      <input matInput type="text" placeholder="Code postal de l'intervention" formControlName="zipcode">
    </mat-form-field>
    <div class="create-intervention__actions">
      <button mat-raised-button color="primary" type="submit">Modifier la demande d'intervention</button>
      <button mat-raised-button color="primary" type="button" (click)="cancel()">Annuler</button>
    </div>
  </form>
</div>
